
body{
    margin:0;
    font-family: Arial;
    background:#18191a;
    color:white;
}

/* Folder Grid */
.folder-container{
    display:flex;
    gap:20px;
    padding:40px;
}

.folder{
    width:120px;
    height:120px;
    background:#242526;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s;
}

.folder:hover{
    background:#3a3b3c;
    transform:scale(1.05);
}

/* Overlay */
.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.85);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
}

/* Preview Box */
.preview-box{
    width:700px;
    max-width:95%;
    height:500px;
    background:#242526;
    border-radius:12px;
    overflow:hidden;
    animation:zoom 0.3s ease;
    position:relative;
}

@keyframes zoom{
    from{transform:scale(0.8);opacity:0;}
    to{transform:scale(1);opacity:1;}
}

.preview-header{
    padding:15px;
    border-bottom:1px solid #3a3b3c;
    display:flex;
    justify-content:space-between;
}

.close{
    cursor:pointer;
    font-size:18px;
}

.preview-content{
    padding:20px;
    height:100%;
    overflow:auto;
}






.preview-box {
    position: relative;
    width: 400px;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.record-indicator {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background: red;
    border-radius: 50%;
    box-shadow: 0 0 10px red;
    animation: blink 1s infinite;
    display: none; /* hidden by default */
    
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
    
}

